<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>topic/index.html</title>
</head>
<body>
    <h1>토론방 목록</h1>
    <a href="/topic/add_topic">토론방 추가</a>

    <hr/>

    <table border="1">
        <tr>
            <th>방번호</th>
            <th>토론주제</th>
            <th>작성글 수</th>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="/content">주제1</a></td>
            <td>10</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="#">주제1</a></td>
            <td>10</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="#">주제1</a></td>
            <td>10</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="#">주제1</a></td>
            <td>10</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="#">주제1</a></td>
            <td>10</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="#">주제1</a></td>
            <td>10</td>
        </tr>
    </table>
</body>
</html>








